<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('background.jpg');">
	<div class="banner-content">
		<h1>Find below list of Restaurants</h1>
	</div>
</div>

<div class="container">
	<div class="row">
		<% @restaurants.each do |r| %>
		<div class="col-xs-12 col-sm-4">
			<!-- insert <div class="card"> -->
			<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
				<div class="card-category"><%= link_to r.name, restaurant_path(r) %></div>
				<div class="card-description">
					<h2><%= r.address %></h2>
					<p><%= r.phone_number %></p>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>

<%= link_to 'New Restaurant', new_restaurant_path, class: "btn btn-primary text-center"%>
